In [34]:
import pandas as pd
import numpy as np

In [35]:
df = pd.read_csv('/Users/myasin/Documents/thesis/app/backend/csv_folder/pytorch_pytorch.csv')
df.head()

,username,name,email,repo_count,company,avatar_url,hireable,star_time
0,alexbw,Alex Wiltschko,alex.bw@gmail.com,47,Google,https://avatars.githubusercontent.com/u/161935...,False,2016-08-15 18:39:55
1,iassael,Yannis Assael,iassael@gmail.com,27,DeepMind,https://avatars.githubusercontent.com/u/216211...,True,2016-08-15 19:14:32
2,bshillingford,Brendan Shillingford,NaN,24,NaN,https://avatars.githubusercontent.com/u/232674...,False,2016-08-16 06:35:51
3,hmansell,Howard Mansell,howard@mansells.us,0,Facebook,https://avatars.githubusercontent.com/u/980875...,False,2016-08-24 15:41:21
4,clementfarabet,Clement Farabet,clement.farabet@gmail.com,79,@NVIDIA,https://avatars.githubusercontent.com/u/188959...,False,2016-09-23 00:09:18

In [36]:
df.drop(['username', 'company', 'avatar_url', 'email', 'star_time'], axis=1, inplace=True)
df

                          name  repo_count  hireable
0               Alex Wiltschko          47     False
1                Yannis Assael          27      True
2         Brendan Shillingford          24     False
3               Howard Mansell           0     False
4              Clement Farabet          79     False
..                         ...         ...       ...
95              Alexey Romanov          23     False
96                 Shiven Mian          14      True
97               Matt Mollison          30     False
98                JJ Robertson          24     False
99  Muhammad Sumon Molla Selim          16     False

[100 rows x 3 columns]

In [40]:
rc = df.loc[0]['repo_count']
h = df.loc[0]['hireable']
rc * h

0

In [29]:
df = df.values()
user_repo_mean = np.mean(df, axis = 1)
Repo_demeaned = df - user_ratings_mean.reshape(-1, 1)

TypeError: 'numpy.ndarray' object is not callable

In [41]:
from pymongo import MongoClient
client = MongoClient("mongodb+srv://profile:profile@cluster0.vsf5mmw.mongodb.net/?retryWrites=true&w=majority")
print("Connection Successful")
client.close()

Connection Successful

In [ ]:
from pymongo import MongoClient
import pandas as pd
from flask_restful import Resource, reqparse
import json


client = MongoClient("mongodb+srv://profile:profile@cluster0.vsf5mmw.mongodb.net/?retryWrites=true&w=majority")
db = client['profile']

real_user_db = db['real_user']




def check_user_in_DB(input_user):
    # suche user mit id ... 
    existence = real_user_db.find_one({'id': input_user['id']})

    # wenn existiert True, else False
    try:
        len(existence)
        return True
    except:
        return False
    

def add_user_to_db(input_user):

    if check_user_in_DB(input_user):
        done = {'msg': 'user already exists in DB'}
    else:
        real_user_db.insert_one(input_user)
        done = {'msg':'user succesfully added to DB'}
    return done


# for flask route
class Add_user(Resource):

    # incoming arguments
    def post(self):
        partner_feed_generator = reqparse.RequestParser()
        partner_feed_generator.add_argument('id', help='This field cannot be blank', required=True, type=int)
        partner_feed_generator.add_argument('username', help='This field cannot be blank', required=True, type=str)                           
        partner_feed_generator.add_argument('name', help='This field cannot be blank', required=True, type=str)
        partner_feed_generator.add_argument('email', help='This field cannot be blank', required=True, type=str)
        partner_feed_generator.add_argument('repo_count', help='This field cannot be blank', required=True, type=int)
        partner_feed_generator.add_argument('company', help='This field cannot be blank', required=False, type=str)
        partner_feed_generator.add_argument('avatar_url', help='This field cannot be blank', required=False, type=str)
        partner_feed_generator.add_argument('hireable', help='This field cannot be blank', required=False, type=str)
        partner_feed_generator.add_argument('star_time', help='This field cannot be blank', required=False, type=str)


        input_user = partner_feed_generator.parse_args()

        done = add_user_to_db(input_user)
        done = json.dumps(done, indent=4)
        return {'response': done}, 200